.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 60px;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.72), rgba(255, 255, 255, 0.72)),
    url("https://res.cloudinary.com/kneu7ajr/image/upload/f_auto,q_auto,w_2000/red-beach.jpg");

  background-position: center;
  background-size: cover;
  border-bottom: 1px solid rgba(73, 99, 74, 0.25);
}

.header__logo {
  font-size: 32px;
  font-weight: bold;
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__link {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.header__link:hover {
  color: #5f7d63;
}
