.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 60px;

  background: white;

  border-bottom: 1px solid #e5e5e5;
}

.header__logo {
  font-size: 32px;
  font-weight: bold;
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__link {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.header__link:hover {
  color: #5f7d63;
}
